@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #06dbf8;
  /* background: linear-gradient(to left top, rgb(4, 124, 104), rgb(0, 149, 255)) */
}
